.auto-height-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; /* Ajusta la altura al contenido */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-bottom: 1rem; /* Añade espacio inferior entre tarjetas */
}

.mat-card-content {
  padding: 16px;
}

.mat-list-item {
  font-size: 14px;
}

img[mat-card-image] {
  height: auto;
  max-height: 700px;
  object-fit: scale-down;
  border-radius: 4px;
}
